# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
htmlcov/
.coverage

# IDE specific files
.vscode/
.idea/

# Environment
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints